.personalInfoContainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 100px;
    margin-bottom: 20px;
}

.personalInfoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: white;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.profilePicture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 5px;
    border: black 1px solid;
}

.email {
    font-size: 20px;
    margin: 10px 0;
}

.editButton {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f8e2cd;
    color: #8d4e13;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: none;
}

.editButton:hover {
    background-color: #f0d3b9;
}

.joined {
    margin-top: 40px;
    font-weight: 400;
    color: #8d4e1393;
}