.fa-file-video-o,
.fa-video-camera,
.fa-stop-circle-o,
.fa-refresh,
.fa-upload {
  font-size: 30px;
}

.slr-input-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slr-input-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.slr-input-btn:hover {background-color: #3e8e41}

.slr-input-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.video-container {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
}

.slr-preview-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video fills the container */
  opacity: 0; /* Initially hide both videos */
  transition: opacity 0.3s ease; /* Add transition for smooth visibility changes */
}

.slr-preview-video.active {
  opacity: 1; /* Show the active video */
}
