.dataForm-bg {
    background-color: #d8f9ff;
    padding: 40px;
    display: flex;
    align-items: flex-start;
}

.dataForm-bg .background-image {
    width: 25%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    left: 30%;
    transform: translate(50%, 0);
}

.dataForm-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    max-width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -5px 3px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    text-align: center;
}

.dataForm-container h1 {
    display: block;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.video-container {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .dataForm-bg {
        flex-direction: column;
        align-items: center;
    }

    .dataForm-bg .background-image {
        width: 60%;
        height: auto;
        margin-bottom: 20px;
        max-height: 300px;
        object-fit: contain;
        transform: translate(10%, 0);
    }

    .dataForm-container {
        position: static;
        transform: none;
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .dataForm-container {
        font-size: 0.8rem;
    }

    .InputField label,
    .InputField input {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .dataForm-container {
        width: 55%;
    }

    .dataForm-bg .background-image {
        height: auto;
        max-height: 250px;
        /* Adjusted max-height */
        object-fit: contain;
    }
}

@media (min-width: 992px) {
    .dataForm-container {
        width: 40%;
    }

    .dataForm-bg .background-image {
        height: auto;
        max-height: 40%;
        /* Adjusted max-height */
        object-fit: contain;
    }
}