.form-group {
    margin-top: 50px;
    position: relative;
}

.form-group input {
    width: 100%;
    height: 50px;
    outline: 0;
    padding: 0.5rem 0;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    position: relative;
    font-size: 17px;
}

.form-group .input-label {
    position: absolute;
    top: 50%;
    left: 1.5%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666;
    transition: 0.2s all;
    text-align: left;
    cursor: text;
    pointer-events: none;
}

.form-group input:focus+.input-label,
.form-group input:not(:placeholder-shown)+.input-label {
    top: -10px;
    font-size: 20px;
    left: 0.5%;
    color: #000;
}


.form-group input:focus {
    border: #000 2px solid;
}

@media screen and (max-width: 768px) {
    .form-group input {
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .form-group input {
        padding: 6px;
    }
}