.slr-preview-video-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

.slr-preview-video {
    width: 100%; /* Set desired width for the video */
    max-width: 80%; /* Ensure video does not exceed its container */
    height: auto; /* Maintain aspect ratio by setting height to auto */
    display: block; /* Ensure video is displayed as a block element */
}
